*{
    margin: 0;
    padding: 0;
}
body{
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: rgb(200, 200, 224);
}
.container{
    margin: 10px 20px;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    height: 90vh;
}
.a1{
    width: 50%;
    /* border: 1px solid black; */
}
.logo{
    color: royalblue;
    font-size: 80px;
}
.h3{
    color: black;
    font-size: 30px;
}
.a2{
    /* border: 1px solid red; */
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.login_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(226, 226, 226);
    width: 450px;
    height: 370px;
    box-shadow: -10px -10px 15px rgba(0,0,0,0.1),
    10px 10px 15px rgba(0,0,0,0.1);
    border-radius: 10px;

}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
}
input{
  width: 380px;
  height: 50px;
  margin: 10px 0px;
  padding: 0px 10px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 18px;
  border-radius: 10px;
}
input[type="button"]{
    background-color: royalblue;
    color: white;
    width: 150px;
    
}
p{
    color: royalblue;
    text-decoration: underline;
}
.createaccount{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: green;
    width: 250px;
    height: 50px;
    font-size: 18px;
    font-weight: 30px;
    color: white;
    border-radius: 10px;
}
.create_accnt{
    text-decoration: none;
    color: white;
}
#sign{
    position: relative;
    top: 130px;
    left: 300px;

}
#sign_name
{
    position: relative;
    top: 120px;
    left: 300px;
}
input[type="text"]:hover, input[type="password"]:hover
{
    background-color: rgba(1, 184, 216, 0.137);
}
